
<h1 class="text-center">Welcome <%= current_user.name if user_signed_in? %></h1>

<% if user_signed_in? %>
    <%= render partial: "users/playlists" %>
<% else %>
    <div class="pt-5 text-center">
        <%= render partial: "users/sign_in_button" %>
    </div>
<% end %>