<h2>My playlists <%= link_to "+", new_playlists_path, class: "btn btn-primary"%></h2>


<div class="row">
    
    
    <% @playlists.each do |playlist| %>
        <div class="col-md-2 mb-2">
            <%= render partial: "users/playlist", locals: {playlist: playlist} %>    
        </div>
    <% end %>
</div>
