<h2>My playlists</h2>

<div class="row">
    <% @playlists.each do |playlist| %>
        <div class="col-md-2 mb-2">
            <%= render partial: "users/playlist", locals: {playlist: playlist} %>    
        </div>
    <% end %>
</div>
